/* 
=========================
        CSS BASE
  1. Lib
    1.1 css
      - base.css  
      - effect.css
      - index.css


    1.2 js
      - swiperjs
      - custom.js
      - effect.js
      - isotopejs

=========================
*/
:root {
  --container-lg: 1810px;
  --container-md: 1200px;

  --linear1: linear-gradient(81deg, #CE1BFB 10.86%, #35E6CC 89.96%);
  --linear2: linear-gradient(81deg, #F253BA -2%, #FF6C80 29.96%, #FFF94F 63.99%);
  --linear3: linear-gradient(100deg, #00BAD4 7.72%, #2194FF 118.76%);
  --linear4: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.03) 100%);
  --linear5: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.64) 69.03%, #000 96.4%);
  --linear6: linear-gradient(85deg, #A05DFE 3.63%, #5ECBDE 29.42%);
  --linear7: linear-gradient(113deg, #EA1D62 5.37%, #F2944F 108.05%);
  --linear8: linear-gradient(100deg, #00D426 7.72%, #21FFF2 118.76%);

  --card-bg: #101010;
  --card-title: #fff;
  --card-des: rgba(255, 255, 255, 0.48);
  --card-btn-color: #fff;

  --link-color: #fff;
  --link-hover: #F200FF
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  /* 22.4px */
  background-color: #000;
  letter-spacing: .3px;
}



.text-linear {
  background: var(--linear1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 99999% 100%;
  transition: .3s ease-in-out;
}

.text-linear.hover {
  background-position: 100%;
}

.text-linear.hover:hover {
  background-position: 0;
  background-size: 100% 100%;
}

.linear {
  background: var(--linear1);
}




a {
  color: var(--link-color);
  text-decoration: none;
  transition: .35s linear;

}

a:hover {
  color: var(--link-hover);
}

.under-line {
  text-decoration: underline;
}

.text-through {
  text-decoration: line-through;
}

/* font-size */
.fz-240 {
  font-size: calc(240px * 1);
}

.fz-120 {
  font-size: calc(120px * 1);
}

.fz-80 {
  font-size: calc(80px * 1);
}

.fz-48 {
  font-size: calc(48px * 1);
}

.fz-40 {
  font-size: calc(40px * 1);
}

@media (max-width: 1365px) {
  .fz-240 {
    font-size: calc(240px * 0.8);
  }

  .fz-120 {
    font-size: calc(120px * 0.8);
  }

  .fz-80 {
    font-size: calc(80px * 0.8);
  }

  .fz-48 {
    font-size: calc(48px * 0.8);
  }

  .fz-40 {
    font-size: calc(40px * 0.8);
  }
}

@media (max-width: 1049px) {
  .fz-240 {
    font-size: calc(240px * 0.55);
  }

  .fz-120 {
    font-size: calc(120px * 0.55);
  }

  .fz-80 {
    font-size: calc(80px * 0.55);
  }

  .fz-48 {
    font-size: calc(48px * 0.55);
  }

  .fz-40 {
    font-size: calc(40px * 0.55);
  }
}

@media (max-width: 767px) {
  .fz-240 {
    font-size: calc(240px * 0.15);
  }

  .fz-120 {
    font-size: calc(120px * 0.2);
  }

  .fz-80 {
    font-size: calc(80px * 0.3);
  }

  .fz-48 {
    font-size: calc(48px * 0.4);
  }

  .fz-40 {
    font-size: calc(40px * 0.4);
  }

  body {
    font-size: 12px;
  }
}

.container,
.container-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--spacing-x);
  row-gap: var(--spacing-y);
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-md);
    padding: 0 30px;
  }
}

@media (min-width: 1150px) {
  .container {
    max-width: var(--container-lg);
    padding: 0 50px;
  }
}