effect-custom {
  position: relative;
  height: 100%;
  display: inline-block;
}

effect-custom [effect-parent] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  filter: blur(5px);
}

effect-custom [effect-parent] span {
  width: var(--size, 90px);
  height: var(--size, 90px);
  position: absolute;
  top: var(--top);
  left: var(--left);
  background: var(--color, linear-gradient(80.57deg, #CE1BFB 10.86%, #35E6CC 89.96%));
  --size: 200px;
  border-radius: 100%;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: var(--animation-delay);
  filter: blur(15px);
  transition: all 1.5s linear;
  opacity: 0.5;
}

effect-custom [effect-parent] span:nth-child(1) {
  --size: 50px;
  --top: 5%;
  --left: 25%;
  --color: linear-gradient(80.57deg, #5128E3 10.86%, #AA3BF2 89.96%);
  --animation-delay: 1s;

}

effect-custom [effect-parent] span:nth-child(2) {
  --size: 50px;
  --top: 9%;
  --left: 40%;
  --color: linear-gradient(99.68deg, #00BAD4 7.72%, #2194FF 118.76%);
  --animation-delay: 2s;

}

effect-custom [effect-parent] span:nth-child(3) {
  --size: 50px;
  --top: 10%;
  --left: 50%;
  --color: linear-gradient(80.57deg, #CE1BFB 10.86%, #35E6CC 89.96%);
  --animation-delay: 3s;
}

effect-custom [effect-parent] span:nth-child(4) {
  --size: 50px;
  --top: 10%;
  --left: 50%;
  --animation-delay: 3s;
}

effect-custom [effect-parent] span:nth-child(5) {
  --size: 30px;
  --top: 13%;
  --left: 15%;
  --animation-delay: 3s;
}

effect-custom [effect-parent] span:nth-child(6) {
  --size: 20px;
  --top: 10%;
  --left: 50%;
  --animation-delay: 3s;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  z-index: 2;
}

@keyframes move {

  0%,
  100% {
    transform: translateX(0) translateY(0) translateZ(0);
  }

  10% {
    transform: translateX(20%) translateY(5%) translateZ(20px);
  }

  20% {
    transform: translateX(70%) translateY(2%) translateZ(20px);
  }

  30% {
    transform: translateX(100%) translateY(5%) translateZ(20px);
  }

  40% {
    transform: translateX(40%) translateY(2%) translateZ(20px);
  }

  50% {
    transform: translateX(-10%) translateY(5%) translateZ(20px);
  }

  60% {
    transform: translateX(-60%) translateY(2%) translateZ(20px);
  }

  70% {
    transform: translateX(-100%) translateY(5%) translateZ(20px);
  }

  80% {
    transform: translateX(-50%) translateY(2%) translateZ(20px);
  }

  90% {
    transform: translateX(-30%) translateY(5%) translateZ(20px);
  }

}

/* filltext */
fill-text {
  height: 100vh;
  position: relative;
  display: flex;
}

fill-text .fill-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 300px;
  display: flex;
  align-items: center;

}

fill-text .text span {
  opacity: 0.3;
  transition: opacity .35s linear;
  will-change: opacity;
  color: #fff;
}

fill-text .text .highlight {
  opacity: 1;
}

/* effect svg opacity */

@keyframes line-eff {

  0%,
  100% {
    opacity: 0.3;
    transform: rotate(0) scale(1) translate3d(0, 0, 0);
  }

  50% {
    opacity: .7;
    transform: rotate(0) scale(1) translate3d(0, 0, 300px);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0)
  }

  1.78571% {
    transform: translate(5px, 0)
  }

  3.57143% {
    transform: translate(0, 0)
  }

  5.35714% {
    transform: translate(5px, 0)
  }

  7.14286% {
    transform: translate(0, 0)
  }

  8.92857% {
    transform: translate(5px, 0)
  }

  10.71429% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(0, 0)
  }
}

/* text circle */

.rounded-text {
  width: 25.625rem;
  height: 25.625rem;
  text-transform: uppercase;
  transform: rotate(-103deg);
  color: #fff;
  font-weight: bold;
  z-index: -1;
  font-family: Raleway;
}

.white {
  fill: #fff;
}

.yellow {
  fill: #ffda2a;
}

.green {
  fill: #00d3b9;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.rotating {
  animation: rotating 12s linear infinite;
}

@keyframes coloring {
  0% {
    fill: #fff;
  }

  35% {
    fill: #ffda2a;
  }

  75% {
    fill: #00d3b9;
  }

  100% {
    fill: #fff;
  }
}

.coloring {
  animation: coloring 12s linear infinite;
}

@keyframes circle_linear {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

}

@keyframes rl_s_loading {
  0% {
    transform: translateX(-100%);
    opacity: 0.15;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(100%);
    opacity: 0.15;
  }
}

/*  animated border */
.lip_bor {
  --anime-time: 8s;
  --box-size: 200px;
  --clip-distance: 0.05;
  --clip-size: calc((var(--box-size) * (1 + var(--clip-size) * 2)));
  --path-width: 2px;
  --main-color: #fff;
}

.lip_bor {
  width: var(--box-size);
  height: var(--box-size);
  color: var(--main-color);
  position: relative;
}

.lip_bor::before,
.lip_bor::after {
  position: absolute;
  inset: 0;
  content: "";
  z-index: -1;
  margin: calc(-1 * var(--clip-distance) * 100%);
  animation: lip_bor var(--anime-time) linear infinite;
  box-shadow: inset 0 0 0 var(--path-width);
}

.lip_bor::before {
  animation-delay: calc(var(--anime-time) * -0.5);
}

.lip_bor:hover::before,
.lip_bor:hover::after {
  background-color: red;
}

@keyframes lip_bor1 {

  0%,
  100% {
    clip: rect(0px, var(--clip-size), var(--path-width), 0px);
  }

  25% {
    clip: rect(0px, var(--path-width), var(--clip-size), 0px);
  }

  50% {
    clip: rect(calc(var(--clip-size) - var(--path-width)), calc(var(--clip-size), var(--clip-size)), 0px);
  }

  75% {
    clip: rect(0px, var(--clip-size), var(--clip-size), var(--clip-size) - var(--path-width));
  }
}

@keyframes lip_bor {

  0%,
  100% {
    clip: rect(0px, 220px, 2px, 0px);
  }

  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }

  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }

  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}

.animated-trigger-inter {
  transition: .5s linear;
}

[m-modal] .grid1-btn {
  display: inline-flex;
  padding: 13px 11px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: var(--bg-32, rgba(32, 32, 32, 0.32));

  /* bg blur 16 */
  backdrop-filter: blur(8px);
  position: absolute;
  top: 24px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  transition: .35s ease-in;
  z-index: 3;
}

[m-modal] .item-inner:hover .grid1-btn {
  opacity: 1;
  visibility: visible;
}

[m-modal] .box-popup-full-link {
  position: absolute;
  inset: 0;
  z-index: 3;
}

.custom_modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.custom_modal.show{
  pointer-events: auto;
}

.custom_modal .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity .25s linear;
}

.custom_modal.show .overlay {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.custom_modal .content-wrap {
  position: absolute;
  padding: 32px;
  border-radius: 24px;
  background: #FFF;
  backdrop-filter: blur(20px);
  position: relative;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity .25s linear, transform .25s linear;
}
.custom_modal.show .content-wrap{
  opacity: 1;
  transform: translateY(0);
}
.custom_modal .close-btn {
  position: absolute;
  top: 0;
  right: -8px;
  border-radius: 43px;
  background: #FFF;
  width: 47px;
  height: 47px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(200%);
  transition: opacity .25s linear ,transform .25s linear;
}
.custom_modal.show .close-btn{
  opacity: 1;
  transform: translateX(100%);
}
.custom_modal .img_wrap {
  border-radius: 16px;
  background: #1A1B1F;
  overflow: hidden;
  margin-bottom: 32px;display: flex;
  align-items: center;
  justify-content: center;
}

.custom_modal .title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
}

.custom_modal .m-body {
  color: rgba(0, 0, 0, 0.48);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.custom_modal .ctn_ {
  position: relative;
}

.custom_modal ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.custom_modal .m_btns {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-top: 48px;
}

.custom_modal .t_u_it,.custom_modal .i_ecomrise {
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.32);
  background: linear-gradient(100deg, #00BAD4 7.72%, #2194FF 118.76%);
  padding: 13px 32px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.custom_modal .ratio img{
  object-fit: contain;
}
.custom_modal .m_b_kl {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-decoration-line: underline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom_modal .ctxx_ {
  overflow-y: scroll;
  max-height: 85vh;
  max-width: 55vw;
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 1440px) {
  .custom_modal .m_btns {
    margin-top: 25px;
  }

  .custom_modal .img_wrap {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .custom_modal .content-wrap {
    padding: 20px;
  }

  .custom_modal .title {
    font-size: 24px;
  }

  .custom_modal .m-body {
    font-size: 14px;
  }

  .custom_modal p {
    margin-bottom: 10px;
  }

  .custom_modal .t_u_it,.custom_modal .i_ecomrise,
  .custom_modal .m_b_kl {
    font-size: 14px;
  }

  .custom_modal .ctxx_ {
    max-width: 65vw;
    max-height: 90vh;
  }

  .custom_modal .close-btn {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 767px) {
  [m-modal] .grid1-btn{
    opacity: 1;visibility: visible;
  }
  .custom_modal.show .close-btn {
    transform: translateY(-100%) translateX(-25%);
    right: 0;
  }
  [m-modal] .box-popup-full-link{
    z-index: 4;
  }

  .custom_modal .ctxx_ {
    max-width: 100%;
    width: fit-content;
  }

  .custom_modal .content-wrap {
    max-width: 95%;
    margin: 0 auto;
  }

  .custom_modal .title {
    font-size: 18px;
  }

  .custom_modal .m-body {
    font-size: 12px;
  }

  .custom_modal .t_u_it,.custom_modal .i_ecomrise,
  .custom_modal .m_b_kl {
    font-size: 12px;
  }

  .custom_modal .img_wrap {
    margin-bottom: 15px;
  }

  .custom_modal .m_btns {
    margin-top: 15px;
  }

  .custom_modal .content-wrap {
    padding: 15px;
  }
  [m-modal] .grid1-btn{
    top: 5px;right: 5px;
  }
}

.custom_modal .ctxx_::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom_modal .ctxx_::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.custom_modal .ctxx_::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.light_skew{
  position: relative;
  overflow: hidden;
}
.light_skew::before{
  background-image: linear-gradient(90deg,transparent,var(--accent-color),transparent);
  content: "";
  left: 150%;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: skew(-20deg);
  width: 200%;
  animation: shine2 5s cubic-bezier(.01,.56,1,1) infinite;
  opacity: 0.7;z-index: 1;
}
@keyframes bghover {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
@keyframes shine2 {
  20% {
    left: -200%;
  }

  100% {
      left: -200%;
  }
}